In [1]:
count = 0

while count < 5:
    print("pune")
    count += 1

pune
pune
pune
pune
pune

In [4]:
# print the numbers from 5 to 15==>

count = 5
while count <= 15:
    print(count, end = '  ')
    count += 1

5  6  7  8  9  10  11  12  13  14  15

In [8]:
# find the additon of 1 to 10==>

count = 1
total = 0
while count <= 10:
    total = total + count
    count += 1

print("Sum of numbers from 1 to 10 is:", total)

Sum of numbers from 1 to 10 is: 55

In [12]:
 # find addition of all odd numbers from 1 to 20==>

count = 1
add = 0

while count <= 20:
        add = add + count
        count += 2
print("sum of all odd numbers:", add)

sum of all odd numbers: 100

In [14]:
# find the factorial of the number given by user==>

num =int(input("enter the number"))
fact = 1
i = 1

while i <= num:
    fact = fact * i
    i = i + 1
print("factorial of number is ", fact)

enter the number 24

factorial of number is  620448401733239439360000

In [17]:
# find the addition of the digits in the number
# 12345 => 1 + 2 + 3 + 4 + 5 = 15

num = 12345

digit = 0
while num > 0: 
    digit = digit + num % 10  
    num //= 10  
print(digit)

15

In [18]:
# for loop

In [19]:
for n in 12, 13, 14, 15, 16:
    print(n)

12
13
14
15
16

In [20]:
# iterae the sequnece and print half of those values==>

for n in 12, 13, 14, 15, 16:
    print(n / 2, end = '  ')

6.0  6.5  7.0  7.5  8.0

In [21]:
#range

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
list(range(1, 20, 2))
#start, end(exclusive), step

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
# find the iteration of 1 to 10 numbers using for loop==>

add = 0
for n in range(1, 11):
    add = add + n
    
print(add)

55

In [29]:
for i in "pune":
    print(i)

p
u
n
e

In [30]:
for i in "pune" , "mumbai":
    print(i)

pune
mumbai

In [32]:
# find factorial of loop==>

num = 5
fact = 1

for i in range(1, num +1):
    fact = fact + 1
print("factorial is", fact)

factorial is 6

In [33]:
#loop control statements

In [34]:
#break

In [36]:
for i in range(1, 11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [1]:
count = 1

while count < 11:
    print(count)
    if count == 6:
        break
    count += 1

1
2
3
4
5
6

In [2]:
# continue

In [3]:
for i in range(1, 11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [4]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end="   ")  
    print()

Enter the number of rows:  5

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *